
<h1 class="form-h1">Edit Guest</h1>

<%= simple_form_for [@event, @guest], html: { multipart: true } do |f| %>
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :description %>
</div>

<div class="form-submit-btn d-flex justify-content-between">

  <%= f.button :submit, "Edit", { class: 'login-btn' , id: 'new-event-btn'}  %>
</div>
<% end %>
