
<h1 class="form-h1">Add Guests</h1>

<%= simple_form_for [@event, @guest] do |f| %>
<div class="form-inputs">
  <div id="guests">
    <label for="1">Guest 1</label>
    <input name="guests[]" type="text" id="guest1" class="form-group" />
  </div>
</div>
<button type="button" class="btn btn-white add-guest-btn">Add another Guest</button>
</div>

<div class="form-submit-btn d-flex justify-content-between">
  <%= f.button :submit, "Add to Guestlist", { class: 'login-btn' , id: 'new-event-btn'}  %>
</div>
<% end %>
