// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

$pink: #FE8180;
$purple: #472B62;
$grey: #646464;
$gray: #646464;
$light-grey: #E1E1E1;
$light-gray: #E1E1E1;
