.box-color-pink {
  background-color: #FE8180;
  text-align: center;
  height: 100%;
  img {
    height: 400px;
  }
}

#title {
  font-size: 3rem;
  font-weight: bold;
  color: #472B62;
  text-transform: initial;
  line-height: inherit;
}

#typewriter {
  font-size: 2em;
  color: #472B62;
  text-transform: initial;
}

#typewriter1 {
  font-size: 2em;
  color: #472B62;
  text-transform: initial;
}

span {
  border-right: .02em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.btn-landing {
  color: white;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
  background: #472B62;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 19.5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-family: Noto Sans;
  line-height: 27px;
  width: 38%;
}

.btn-landing:hover {
  opacity: 1;
  color: white;
}

.box-color-white {
  background-color: white;
  height: 100%;
  // text-align: center;
}
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 12px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  color: #472B62;
  width: -webkit-fill-available;
}

