<div class="footer" style="margin-bottom: 8vh;">
  <div class="text-center">
    <div class="footer-links">
      <a style="color: #472B62;" href="#"><i class="fab fa-instagram"></i></a>
      <a style="color: #472B62;" href="#"><i class="fab fa-facebook"></i></a>
      <a style="color: #472B62;" href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-words">
      <a style="color: #472B62;" href="#" class="footer-word-links">FAQ</a>
      <a style="color: #472B62;" href="#" class="footer-word-links">About us</a>
      <a style="color: #472B62;" href="#" class="footer-word-links">Contact us</a>
      <a style="color: #472B62;" href="#" class="footer-word-links">Terms</a>
    </div>
  </div>
</div>
