<div class="navbar px-4 d-flex justify-content-between" style="height: 60px; background-color: #FE8180;">
  <!-- This is Antonia's sidebar.js stuff -->
  <div id="content">
    <nav>
      <div id="main">
        <%= image_tag('burger-menu.png', height: '20', width: '22', id:"sidebarCollapse", class: "openbtn") %>
      </div>
    </nav>
  </div>
  <%= image_tag('jessi-logo-navbar.png', height: '22', width: '57') %>
  <!-- <h4 class="mb-0" style="font-weight: bold; color: #472B62;">jessi</h4> -->
  <%= link_to image_tag('plus.png', height: '22', width: '22'), new_event_path %>
</div>
