


<div class="navbar px-4 d-flex justify-content-between" style="height: 60px; background-color: #FE8180;">
   <div id="mySidebar" class="sidebar">
    <%= image_tag 'burger-menu.png', style: {height: '20', width: '22'}, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

  <!-- <a href="javascript:void(0)" id="closebtn">&times;</a> -->
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div> </div>
