<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<div class="box-color-pink landing-card-first" style="background: #FE8180;">
  <div class="position-top">
    <div style="padding-top: 8vh; padding-bottom: 1rem;">
      <%= image_tag('jessi-logo-navbar.png', height: '68', width: '179') %>
    </div>
    <!-- <h1 id="title" style="font-family: noto sans; padding-top: 8vh;">jessi</h1> -->
    <h2 id="typewriter" style="font-size: 2em;"></h2>
    <h2 style="font-family: Noto Sans; color: #472B62;">events for you.</h2>
    <br>
    <%= image_tag("iphone.png", height: '400px', :alt => "jessi") %>
    <br>
  </div>
</div>

<div style="color: #472B62">
  <div class="pt-5 landing-card" style="background-color: white;">
    <h2 class="text-center">Polls</h2>
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_qMT31T.json"  background="transparent"  speed="1"  style="width: 100vw; height: 300px;"  loop  autoplay ></lottie-player>

    <div>
      <h4 class="mx-4 mt-5">Jessi generates beautiful polls to engage your guests in planning the perfect get-together. </h4>
      <h4 class="mx-4 mt-5">Share polls with a link and comfortably browse responses on your dashboard.</h4>
    </div>
  </div>

  <div class="pt-5 landing-card" style="background-color: #FE8180;">
    <h2 class="text-center">Calendar</h2>
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_zMAeTa.json"  background="transparent"  speed="1"  style="width: 100vw; height: 250px;"  loop  autoplay ></lottie-player>

    <div>
      <h4 class="mx-4 mt-5">Jessi aggregates all the exciting details of your event and pushes it to all your friends.</h4>
      <h4 class="mx-4 mt-5">With both Google and Apple calendar integration, it's impossible for your friends to forget!</h4>
    </div>
  </div>

  <div class="pt-5 landing-card" style="background-color: white;">
    <h2 class="text-center">Expenses</h2>
    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_OdVhgq.json"  background="transparent"  speed="1"  style="width: 100vw; height: 300px;"  loop  autoplay ></lottie-player>

    <div>
      <h4 class="mx-4 mt-5">Jessi keeps track of each event's expenses so you know exactly what's been paid for, how much it cost, and who paid for it.</h4>
      <h4 class="mx-4 mt-5">Settle up shared expenses effortlessly on the go so everyone gets their money back.</h4>
    </div>
  </div>


<%= render("shared/footer") %>

<a href="<%= new_user_registration_path %>" class="fixed-bottom text-center links-hero" style="background-color: #472B62; height: 8vh;">
  <h4 style="margin-top: 2vh;">Get Started</h4>
</a>
<!-- easteregg animation -->
<!-- <div id="world">
  <div id="instructions">Press and drag to make wind<br/><span class="lightInstructions">Jessi will surely appreciate</span></div>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/264161/OrbitControls.js'></script>
-->
