<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="box-color-pink" style="background: #FE8180;">
  <div class="position-top" style="height: 100vh;">
    <h1 id="title" style="font-family: noto sans">jessi.io</h1>
    <h2 id="typewriter" style="font-family: noto sans">typewriter</h2>
    <h2 id="typewriter1" style="font-family: noto sans">in one visual place</h2>
    <br>
    <%= image_tag("iphone.png", :alt => "rss feed") %>
    <br>
    <div style="padding: 20px; margin-top: 10px;">
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-landing"%>
      <%= link_to 'Sign in', new_user_session_path, class: "btn btn-landing"%>
      <div style="padding: 20px;">
      </div>
      <a href="#box-color-white" class="fas fa-angle-down" id="test" style="color: #472B62;"></a>
    </div>
  </div>
</div>
<div class="container flex-grow">
  <div id="box-color-white">
    <div class="card-product">
      <lottie-player
      src="https://assets3.lottiefiles.com/packages/lf20_8JndGA.json"  background="transparent"  speed="0.9"  style="width: 180px; height: 210px;"  loop  autoplay >
    </lottie-player>
    <div class="card-product-infos" style="font-family: noto sans">
      <h2>Polls</h2>
      <p>jessi generates beautiful polls to engage your guests in planning the perfect get-together. Share polls with a link and comfortably browse responses and results in real-time on your dashboard</p>
    </div>
  </div>
  <div class="card-product">
    <div class="card-product-infos" style="font-family: noto sans">
      <h2>Calendar</h2>
      <p>jessi aggregates all the exciting details of your event to create a calendar link that's easy to send to your friends and integrates smoothly into their Google or Apple calendar</p>
    </div>
    <lottie-player
    src="https://assets2.lottiefiles.com/datafiles/6WfDdm3ooQTEs1L/data.json"  background="#FE8180"  speed="0.8"  style="width: 180px; height: 210px;"  loop  autoplay >
  </lottie-player>
</div>
<div class="card-product">
  <lottie-player
  src="https://assets8.lottiefiles.com/packages/lf20_4ejZJA.json"  background="transparent"  speed="0.8"  style="width: 180px; height: 210px;"  loop autoplay >
</lottie-player>
<div class="card-product-infos" style="font-family: noto sans">
  <h2>Expenses</h2>
  <p>jessi keeps track of each event's expenses so you know exactly what's been paid for, how much it cost and who paid for it. Settle up shared expenses effortlessly on the go so everyone gets their money back</p>
</div>


