<%= render partial: "shared/navbar-example" %>


<h1 class="text-center">Hey, I'm jessi.</h1>
<h3>Looks like you're new here!</h3>
<h3>We can start planning amazing experiences as soon as you create your first event!</h3>
<h3>You can do this by tapping the + button found on the top right corner of the screen.</h3>
<h3>Don't worry about filling in all the details right now, just give me a title for the event and we're good to go!</h3>


