<%= render partial: "shared/navbar-example" %>

<div class="p-4" style="color: #472B62;">
  <h1 class="text-center pb-4">Hey, I'm jessi.</h1>
  <h4 class="pb-2">Looks like you don't have any events.</h4>
  <h4 class="pb-2">We can start planning amazing experiences as soon as you create an event by tapping the</h4>
  <h4 class="pb-2 text-center">+ button</h4>
  <h4 class="pb-2">found on the top right corner of the app.</h4>
  <h4 class="pb-2">Don't worry about filling in all the details right now, just give me a title for the event and we're good to go!</h4>
</div>

