<%= render partial: "shared/navbar-example" %>


<h1 id="text">Hey, I'm jessi.</h1>
<h3 id="text">Looks like you're new here!</h3>
<h3 id="text">We can start planning amazing experiences as soon as you create your first event!</h3>
<h3 id="text">You can do this by tapping the + button found on the top right corner of the screen.</h3>
<h3 id="text">Don't worry about filling in all the details right now, just give me a title for the event and we're good to go!</h3>


