#new-event-btn {
  pointer-events: auto;
}

.bottom-btn {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 5%;
  width: 100%;
  color: white;
}

.submit-btn {
  background-color: $purple;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 19.5px;
  width: 30%;
}
