.login-form-field {
  border: 0;
  border-bottom: 2px solid $purple;
}

.simple_form .form-group label {
  color: $purple;
}

.form-group {
  padding: 1.5rem;
  margin-bottom: 0;
}

#collapseExpenseForm .form-group {
  padding: 0;
}

// #choices .form-group {
//   padding: 1rem;
//   margin-bottom: 0;
// }

// .form-inputs .form-group {
//   padding: 1rem;
//   margin-bottom: 0;
// }

.form-control {
  border-color: $light-grey;
  background-image: none;
  padding-right: 1rem;
}

.form-control.is-valid {
  border-color: $light-grey;
  background-image: none;
  padding-right: 1rem;
}

.textarea.form-control.is-valid {
  padding-right: 1rem;
}

.expenses-filter-form {
  padding: 0px;
}
