.links {
  color: $purple;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $purple;
  }
}

.links-hero {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
