// .sidebar {
//   height: 100%; /* 100% Full-height */
//   width: 0; /* 0 width - change this with JavaScript */
//   position: fixed; /* Stay in place */
//   z-index: 3000; /* Stay on top */
//   top: 0;
//   left: 0;
//   background-color: #472B62; /* Black*/
//   overflow-x: hidden; /* Disable horizontal scroll */
//   padding-top: 60px; /* Place content 60px from the top */
//   transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
// }

// /* The sidebar links */
// .sidebar a {
//   padding: 8px 8px 8px 32px;
//   text-decoration: none;
//   font-size: 25px;
//   color: white;
//   display: block;
//   transition: 0.3s;
// }

//  .toggleSidebar {
//    width: 250px;
//  }

// .toggleSidebtn {
//    left: 250px !important;
//    transition: 0.5s;
// }
// /* When you mouse over the navigation links, change their color */
// .sidebar a:hover {
//   color: #f1f1f1;
// }

// /* Position and style the close button (top right corner) */
// .sidebar .openbtn {
//   position: absolute;
//   top: 0;
//   right: 25px;
//   font-size: 36px;
//   margin-left: 50px;
// }

// // img.openbtn.toggleSidebtn {
// //   left: 250px;
// // }

// /* The button used to open the sidebar */
// .openbtn {
//   /* font-size: 20px; */
//   cursor: pointer;
//   /* background-color: #111; */
//   color: white;
//   padding: 10px 15px;
//   border: none;
//   width: 50px;
//   height: 36px;
//   position: absolute;
//   top: 15px;
//   left: 15px;
//   transition: 0.6s;
// }
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

// .wrapper {
//     display: flex;
//     align-items: stretch;
// }

// #sidebar {
//     min-width: 250px;
//     max-width: 250px;
// }

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
    //min-height: 100vh;
  }
  .sidebar-content .list-unstyled .sidebar-sub-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  div#mCSB_1_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .sidebar-content{
    height:80%;
  }

  div#dismiss {
    position: relative;
    top: 36px;
    left: 190px;
  }
// a[data-toggle="collapse"] {
//     position: relative;
// }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}


#sidebar {
  margin-left: -250px;
}
#sidebar.active {
  margin-left: 0;
}



.wrapper {
  display: block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
    /* top layer */
    z-index: 9999;
  }

  .overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.5);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 2000;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
  }
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 40px;
  height: 40px;
  position: absolute;
    /* top right corner of the sidebar */
    top: 1px;
    right: 1px;
  }

  #dismiss .arrow {
    background: none;
  }
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  width: 22px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}



#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #FE8180;
    color: #472B62;
    transition: all 0.3s;
  }

  #sidebar .sidebar-header {
    /*padding: 20px;*/
    color: 472B62;
    background: #FE8180;
    font-weight: bold;
  }

  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
  }

  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
// #sidebar ul li a:hover {
//     color: #7386D5;
//     background: #fff;
// }
#sidebar .sidebar-content {
  padding: 20px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  text-decoration: none;
  background: #472B62;
}

.list-unstyled .list-items-unstyled a {
  text-decoration: none;
  color: #472B62;
  font-weight: bold;
  margin-left: 1rem;
}

.list-unstyled .list-items-unstyled a.active {

}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #472B62;
}

#sidebar .sidebar-logoutbtn a{
  position: sticky-bottom;
  color:white;
  text-decoration:none;
  display: flex;
  justify-content: center;
  background-color: #472B62;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}


.mCS_img_loaded {
  background-color: white;
}

