#typewriter {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#typewriter .Typewriter__cursor{
  margin-left: -6px;
}
#typewriter .Typewriter__wrapper{
  margin-left: 6px;
}
